#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/devel/kaineer/inchooz.ai/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/devel/kaineer/inchooz.ai/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/devel/kaineer/inchooz.ai
export PROJECT_BIN=/home/kaineer/devel/kaineer/inchooz.ai/bin
export PROJECT_NAME=inchooz.ai
export PROJECT_CREATED="04.06.2026"
